[Unit]
Description=Usluga do kicad-loader
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 -u /usr/bin/kicad_loader/kicad_loader.py
Restart=on-failure
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target
